{% extends "base.html" %}

{% block content %}
<h2>Nos Services</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plomberie</h5>
                <p class="card-text">Réparation et installation de plomberie.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Électricité</h5>
                <p class="card-text">Installation et réparation électriques.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mécanique</h5>
                <p class="card-text">Dépannage et entretien automobile.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}